credentials
ny_taxi_postgres_data/
terraform_azure/.terraform/
terraform_gcp/.terraform/
resources/datasets
flows/__pycache__
*.tfstate
*.tfstate.backup
dbt_synapse/target/
dbt_synapse/dbt_packages/
dbt_synapse/logs/
